*{
    box-sizing: border-box;
}

    
h1{
    color:red;
}
.header-section{
    border: 1px solid black;
    margin: 0% 5%;
    background-color: #3C3633;
    color: aliceblue;
}
.header-section h1{
    justify-content: center;
    text-align: center;
}
.nav-section{
    border: 1px solid black;
    margin: 0% 5%;
    background-color:#E0CCBE;
   
}
.nav-section ul{
    display: flex;
    justify-content: space-between;
   
}
.nav-section ul li{
   
    list-style: none;
    
}

.blog-1{
border: 2px solid black;

margin: 5% 20%;

}

.blog-2{
    border: 2px solid black;
    margin: 5% 20%;

}

.blog-3{
    border: 2px solid black;

    margin: 5% 20%;

}
.footer-sec{
    border: 2px solid black;
    margin: 5% 5%;
}